packages:
  yum:
    rsyslog-gnutls: []
files:
  "/etc/rsyslog.d/00-files.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # load file watcher module
      $Modload imfile

      # passenger
      $InputFileName /var/app/support/logs/passenger.log
      $InputFileTag passenger
      $InputFileStateFile passenger-state
      $InputFileSeverity info
      $InputFileFacility local6
      $InputRunFileMonitor

  "/etc/rsyslog.d/99-logentries.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # set file poll seconds
      $InputFilePollInterval 10


      # log everything to logentries
      $template Logentries,"39966e95-d6b5-422b-809b-2d45386861b2 %HOSTNAME% %syslogtag%%msg%\n"
      *.* @@data.logentries.com:80;Logentries
commands:
  03restart-syslog:
    command: "sudo service rsyslog restart"
