files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/50_restart_sidekiq":
    mode: "000777"
    owner: root
    group: root
    content: |


      cd /var/app/current

      if [ -f /var/app/support/pids/sidekiq1.pid ]
      then
        kill -TERM `cat /var/app/support/pids/sidekiq1.pid`
        rm -rf /var/app/support/pids/sidekiq1.pid
      fi

      if [ -f /var/app/support/pids/sidekiq2.pid ]
      then
        kill -TERM `cat /var/app/support/pids/sidekiq2.pid`
        rm -rf /var/app/support/pids/sidekiq2.pid
      fi

      . /opt/elasticbeanstalk/support/envvars.d/sysenv

      sleep 10

      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)

      . $EB_SUPPORT_DIR/envvars
      . $EB_SCRIPT_DIR/use-app-ruby.sh

      bundle exec sidekiq -q default -c 1 -v -P /var/app/support/pids/sidekiq1.pid -L /var/app/support/logs/sidekiq.log -d

      sleep 10

      bundle exec sidekiq -q priority -c 2 -v -P /var/app/support/pids/sidekiq2.pid -L /var/app/support/logs/sidekiq.log -d

  "/opt/elasticbeanstalk/hooks/appdeploy/pre/03_mute_sidekiq":
    mode: "000777"
    owner: root
    group: root
    content: |
      if [ -f /var/app/support/pids/sidekiq1.pid ]
      then
        kill -USR1 `cat /var/app/support/pids/sidekiq1.pid`
      fi

      if [ -f /var/app/support/pids/sidekiq2.pid ]
      then
        kill -USR1 `cat /var/app/support/pids/sidekiq2.pid`
      fi

